div#postform
   form(method="post",action="/post")
      span #{stash.user.name}
      br
      table
         tr
            td
               textarea(cols="70",rows="3", name="status")
         tr
            td(align="right")
               input(type="submit")
   #homeinfobox
      p #{stash.followers} followers
      p #{stash.following} following
!{partial('post',stash.posts)}