!!!
html(lang="en")
   head
      title RetwisJS - Retwis Twitter clone ported to pure JavaScript
      script(type='text/javascript')
      link(href='/css/style.css',rel='stylesheet',type='text/css')
   body
      div#page
         #header
            a(href='/')
               img(src='/logo.png')
            div#navbar
               a(href="/") Home | 
               a(href="/timeline") Timeline | 
               a(href="/logout") Logout | 
         !{body}               
         #footer FOOTER!
