h2(class="username") #{stash.username}
- if (stash.user.isLoggedIn() && stash.user.id != stash.uid)
   a(href="/follow/#{stash.uid}",class="button") Follow this user
   a(href="/unfollow/#{stash.uid}",class="button") Don't follow this user
!{partial('post',stash.posts)}