div#welcomebox
   #registerbox
      h2 Register!
      b Want to try Retwis? Create an account!
      form(method='post',action='/register')
         div.formEntry
            label Username
            input(type="text",name="username")
         div.formEntry
            label Password
            input(type="password",name="password")
         div.formEntry
            label Password (again)
            input(type="password",name="password2")
         div.formSubmit
            input(type="submit",value="Register!")
      h2 Already registered? Login Here
      form(method='post',action='/login')
         div.formEntry
            label Username
            input(type="text",name="username")
         div.formEntry
            label Password
            input(type="password",name="password")
         div.formSubmit
            input(type="submit",value="Log in!")
   p.
      Hello! RetwisJS is a port of the very basic <a href="http://twitter.com">Twitter</a> clone <a href="http://redis.io/topics/twitter-clone">Retwis</a> provided as an example of how to use
      the <a href="http://redis.io/">Redis</a> key-value database.
   p.
      This port was written entirely in JavaScript on <a href="http://nodejs.org/">node.js</a> as a way for <a href="http://jarrodoverson.com">me</a> to become
      familiar with node, redis, and some of node's most popular frameworks and libraries.
   p Some notes
   ul
      li(style="color:#090") This is <b>NOT</b> meant to be a full featured application. This is meant to be a basic technical demo provided as a way for others to learn about redis, node, express, and jade. Source code is available on <a href="http://github.com/jsoverson/RetwisJS">github</a>.
      li Redis is a key-value DB, and it is <b>the only DB used</b> by this application, no MySQL or alike at all.
      li This application can scale horizontally since there is no point where the whole dataset is needed at the same point. With consistent hashing (not implemented in the demo to make it simpler) different keys can be stored in different servers.
